{% extends "base.html" %}
{% block title %}Welcome to Polls!{% endblock %}
{% block head %}Welcome to Polls!{% endblock %}
{% block content %}

    <a href="/" style="font-size: 20px">MAIN PAGE</a> <span style="font-size: 20px">PERSONAL PAGE</span>

    <p>Welcome to your home page {{ user.username }} !!! <a href="/logout/">Logout</a></p>
<a href="/poll_add/">Create poll</a>

{% endblock %}