{% extends "base.html" %}
{% block title %}Welcome to Polls!{% endblock %}
{% block head %}Welcome to Polls!{% endblock %}
{% block content %}

    <span style="font-size: 20px">MAIN PAGE</span> <a href="/home/" style="font-size: 20px">PERSONAL PAGE</a>

    {% if user.username == "" %}
        <p>If you want to create polls or answer them, please <a href="/login/">Login</a></p>
    {% else %}
        <p>Welcome {{ user.username }} !!! <a href="/logout/">Logout</a></p>
    {% endif %}

    <h2>All polls</h2>
    {% for poll in polls %}
        <p>{{ poll.name }}</p>
    {% endfor %}

{% endblock %}