{% extends "base.html" %}
{% block title %}Create your Poll!{% endblock %}
{% block head %}Create your Poll!{% endblock %}
{% block content %}

    {% if form.errors %}
        <p>Errors in form. Please try again.</p>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        <table border="0">
            <tr><th><label for="id_name">Name:</label></th><td>{{ form.name }}</td></tr>
            <!--<tr><th><label for="id_author">Weight:</label></th><td>{{ form.weight }}</td></tr>-->
            <tr><th><label for="id_weight">Weight:</label></th><td>{{ form.weight }}</td></tr>
        </table>
        <input type="submit" value="Create" />
        <!--<input type="hidden" name="next" value="/home" />-->
    </form>

{% endblock %}